@font-face {
  font-family: 'icomoon';
  src: url('../less/font-restau/fonts/icomoon.eot?wpq7rn');
  src: url('../less/font-restau/fonts/icomoon.eot?wpq7rn#iefix') format('embedded-opentype'), url('../less/font-restau/fonts/icomoon.ttf?wpq7rn') format('truetype'), url('../less/font-restau/fonts/icomoon.woff?wpq7rn') format('woff'), url('../less/font-restau/fonts/icomoon.svg?wpq7rn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-clock:before {
  content: "\e900";
}
.icon-clock2:before {
  content: "\e901";
}
